body {
    display: flex;
    flex-direction: column;

}

body > div {
    height: 25%;
}

.nav > .logo {
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
}

.nav {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 5px 80px 5px;
    flex: 1 1 auto;
}

.navlink {
    align-self: center;
    margin: 0px 20px 0px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px;

}

h1 {
    margin-bottom: -15px;
}

.containerone {
    display: flex;
    flex: 1 1;
    background-color: #1F2937;
    padding: 50px;
    justify-content: center;
    gap: 50px;
    color: #F9FAF8;
    flex: 1 1 auto;
}

.containertwo {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    gap: 50px;
    flex: 1 1 auto;
}

.containerthree {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    padding: 50px;
    background-color: #E5E7EB;
}

.containerfour {
    margin: 50px;
    display: flex;
    flex: 1 1;
    padding: 20px 100px 20px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quotee {
    align-self: flex-end;
}

.content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.content p {
    margin-top: 0;
    text-align: center;
}

.leftcontent > p {
    margin: 20px 0 20px;
}

.imagetwo {
    width: 100px;
    border-radius: 8px;
}

button {
    width: 80px;
    padding: 5px;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    color: #F9FAF8;
}

#call {
    border: 2px solid white;
}

.leftcontent {
    display: flex;
    flex-direction: column;
}

.heroimage {
    width: 300px;
    align-self: center;
}

.herocontainer {
    align-self: center;
}

.callbutton {
    display: flex;
    align-items: center;
    margin: 20px 10px 20px;
}

.callcontent {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}